<div class="position-relative">
	<a href="/schedule/">
		{{#get "posts" slug="schedule"}}
			{{> div-responsive div-classes="div-responsive" firstline-copy="Next Match" copy-top="40%" title-id="nextmatch-title" subtitle-id="nextmatch-subtitle"}}
		{{/get}}
	</a>

	<div class="container-fluid">
		<div class="row">
			<a href="/schedule/" class="btn btn-primary btn-block btn-nopadding"><h4 class="bold-uppercase">-&nbsp;&nbsp;&nbsp;VIEW SCHEDULE&nbsp;&nbsp;&nbsp;-</h4></a>
		</div>
	</div>

</div>