<div class="col-xs-12 bg-secondary-dull bg-content-box nopadding {{custom-class}}">
  <h3 class="bold-uppercase text-center white">HIGHLIGHTS</h3>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 bg-white rule-height"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center padding padding-bot-25">
      <div id="profile-highlights" class="white col-xs-12 row-top-spacer padding"></div>
    </div>
  </div>
</div>