<div class="col-xs-12 bg-secondary-dull bg-content-box nopadding {{custom-class}}">
  <div class="philanthropy-desc col-xs-10 col-xs-offset-1 row-top-spacer row-bot-padding text-center">
    <strong class="white bold">{{content}}</strong>
  </div>
</div>