<div class="header-container">

  <div class="visible-xs">
    {{> carousel carousel-height="75vh" image-1="landing-header-1.jpg" position-1="10%" position-2="90%" position-3="45%" position-4="top" position-5="65%"}}
  </div>

  <div class="hidden-xs">
    {{> carousel carousel-height="60vh" position-1="center" position-2="90%" position-3="45%" position-4="top" position-5="10%"}}
  </div>

  <div class="container-fluid header-nav">
    {{navigation}}
  </div>

</div>


<!-- {{> image-responsive data-mh="carousel" container-id="header-container-0" container-classes="carousel-container active" div-id="header-div-0" img-id="header-img-0" bg-position="8%"}}
{{> image-responsive data-mh="carousel" container-id="header-container-1" container-classes="carousel-container" div-id="header-div-1" img-id="header-img-1" bg-position="88%"}}
{{> image-responsive data-mh="carousel" container-id="header-container-2" container-classes="carousel-container" div-id="header-div-2" img-id="header-img-2" bg-position="42% top"}}
{{> image-responsive data-mh="carousel" container-id="header-container-3" container-classes="carousel-container" div-id="header-div-3" img-id="header-img-3" bg-position="15% top"}}
{{> image-responsive data-mh="carousel" container-id="header-container-4" container-classes="carousel-container" div-id="header-div-4" img-id="header-img-4" bg-position="60%"}}
{{> image-responsive data-mh="carousel" container-id="header-container-5" container-classes="carousel-container" div-id="header-div-5" img-id="header-img-5" bg-position="center"}}
{{> image-responsive data-mh="carousel" container-id="header-container-6" container-classes="carousel-container" div-id="header-div-6" img-id="header-img-6" bg-position="center"}}
{{> image-responsive data-mh="carousel" container-id="header-container-7" container-classes="carousel-container" div-id="header-div-7" img-id="header-img-7" bg-position="center"}}
{{> image-responsive data-mh="carousel" container-id="header-container-8" container-classes="carousel-container" div-id="header-div-8" img-id="header-img-8" bg-position="center"}}
{{> image-responsive data-mh="carousel" container-id="header-container-9" container-classes="carousel-container" div-id="header-div-9" img-id="header-img-9" bg-position="center"}} -->