

<!-- XS -->

<div class="container-fluid">
  <div class="row row-top-spacer">
    <div class="visible-xs col-xs-12 nopadding">
    {{> callout-news custom-background="bg-clay-line" custom-border-color="border-clay" custom-border="border-vertical-10" header-size="h3" col-left-height="500px" col-right-height="340px" custom-padding-top="" excerpt-length=300 col-right-row-1-height="240px" col-right-row-2-height="100px" left-col-width="12" right-col-width="12"}}
    </div>
  </div>
</div>


<!-- SM - LG -->

<div class="container-fluid news-border row-top-spacer">
  <div data-mh="index-news-callout" class="col-sm-1 index-news-left"></div>
  <div data-mh="index-news-callout" class="hidden-xs col-sm-10 nopadding">
    {{> callout-news custom-background="bg-clay-line" custom-border-color="border-green" custom-border="border-vertical-10" header-size="h1" col-left-height="500px" col-right-height="500px" custom-padding-top="50px" excerpt-length=500 col-right-row-1-height="375px" col-right-row-2-height="125px" left-col-width="6" right-col-width="6"}}
  </div>
  <div data-mh="index-news-callout" class="col-sm-1 index-news-right"></div>
</div>