<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <p>
        <a href="/profile/">PROFILE</a>
      </p>
      <p>
        <a href="/schedule/">SCHEDULE</a>
      </p>
      <p>
        <a href="/gallery/">GALLERY</a>
      </p>
      <p>
        <a href="/news/">NEWS</a>
      </p>
      <p>
        <a href="/philanthropy/">PHILANTHROPY</a>
      </p>
      <p>
        <a href="/partners/">PARTNERS</a>
      </p>
    </div>
  </div>
</div>
