// @import "lib/ghost";
@import 'lib/variables';
@import 'lib/utilities';
@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'components/slidebars';
@import 'components/navigation';

//
// apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin: 0;
}

.nopadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.nopadding-right {
  padding-right: 0px !important;
}

.padding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.padding-30 {
	padding-left: 30px !important;
  padding-right: 30px !important;
}

.padding-all-15 {
  padding: 15px !important;
}

.padding-bot-25 {
  padding-bottom: 25px;
}

.top-spacer-50 {
  margin-top: 50px;
}

.vertical-center-table {
  display: table;
}
.vertical-center-cell {
  display: table-cell;
  vertical-align: middle;
}

.bot-spacer-50 {
  margin-bottom: 50px;
}

.see-through {
  background: none;
  border-bottom-width: medium;
  border-left: 0;
  border-left-width: thick;
  border-right: 0;
  border-right-width: thick;
  border-top: 0;
}

.bg-content-box {
  background-clip: content-box;
}

.minwidth-100{
	min-width: 100%;
}

.text-justified {
	text-align: justify;
}

//
// Caroline Theme custom adjustments
body {
  font-family: Raleway;
  overflow: scroll;

}

blockquote {
  border-left-width: 10px;

  p {
    font-style: italic;
  }
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.relative {
  position: relative;
}

.attach-bottom {
  position: relative;
  bottom: 0;
}

.height-full {
  height: 100%;
}

.white {
  color: $white;
}

.primary {
  color: $brand-primary;
}

.secondary {
  color: $brand-secondary;
}

.bg-white {
  background-color: $white !important;
}

.content-background {
  background-repeat: repeat;
  background-size: 10px 10px;
}

.bold-uppercase {
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.uppercase {
	text-transform: uppercase;
}

.font-large {
  font-size: 3em;
}

.font-larger {
  font-size: 4em;
}

.rule-height {
  height: 4px;
}

.rule-width-70 {
	width: 70px;
}

.bg-secondary {
  background-color: $brand-secondary;
}

.bg-secondary-dull {
  background-color: $accent-dull;
}

.secondary-dull {
  color: $accent-dull;
}

.bg-grey-light {
  background-color: $grey-light;
}

.bg-grey-dark {
  background-color: $grey-dark;
}

.img-bg-over {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.img-bg-over:before {
  background-color: $touch-bg-overlay;
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all $hover-duration ease;
}

.img-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img-bg-darken-1::before {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.img-bg-darken-3::before {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.height-100 {
  height: 100px;
}

.height-200 {
  height: 200px;
}

.bg-clay {
  background-image: url('/assets/images/textures/clay.jpg');
}

.bg-clay-line {
  background-image: url('/assets/images/textures/clay-line.jpg');
}

.bg-hard-court-blue-1 {
  background-image: url('/assets/images/textures/hard-court-blue-1.jpg');
}

.bg-hard-court-blue-2 {
  background-image: url('/assets/images/textures/hard-court-blue-2.jpg');
}

.bg-hard-court-green {
  background-image: url('/assets/images/textures/hard-court-green.jpg');
}

.border-clay {
  border-color: $clay;
}

.border-green {
  border-color: $court-green;
}

.border-blue {
  border-color: $court-blue;
}

.border-15 {
  border-style: solid;
  border-width: 15px;
}

.border-10 {
  border-style: solid;
  border-width: 10px;
}

.border-5 {
  border-style: solid;
  border-width: 5px;
}

.border-vertical-5 {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-top-style: solid;
  border-top-width: 5px;
}

.border-vertical-10 {
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-top-style: solid;
  border-top-width: 10px;
}

.border-vertical-15 {
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-top-style: solid;
  border-top-width: 15px;
}

.table-cell-vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.vertical-center {
  transform: translateY(25%);
}


//
// NAV
.nav-home-button,
.nav-menu-button,
.nav-social-button {
  height: 75px;
  width: 75px;
}

.nav-menu-button {
  -webkit-filter: drop-shadow(0 1px 0 $brand-primary);
           filter: drop-shadow(0 1px 0 $brand-primary);
}

// .nav-social-button {
//   -webkit-filter: drop-shadow(1px 1px 0 $grey-light);
//            filter: drop-shadow(1px 1px 0 $grey-light);
// }

.share-icon {
  display: inline-block;
  height: auto;
  width: 60px;
}

.brand-secondary {
  background-color: $brand-secondary;
}

.gradient-down-brand-secondary {
  background-image: linear-gradient($brand-secondary, $white);
}

.gradient-logo-right {
  background: linear-gradient(165deg, $brand-secondary, $white 60%);
}

.gradient-logo-left {
  background: linear-gradient(195deg, $brand-secondary, $white 60%);
}

.position-relative {
  position: relative;
}

.header-nav {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.header-image {
	height: 80vh;
	width: 100%;
}

.header-copy {
  left: 0px;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

.carousel-container {
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 1.2s ease;

	&.active {
		opacity: 1;
	}
}

.carousel-height {
  height: 500px;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

.glyphicon-chevron-right,
.glyphicon-chevron-left {
  top: 90% !important;
}

//
// ROW ADJUSTMENTS
.row-top-spacer {
  margin-top: 25px;
}

.row-top-spacer-80 {
  margin-top: 80px;

}

.row-bot-padding {
	padding-bottom: 25px;
}

.row-top-spacer-10 {
	margin-top: 10px;
}

.row-padding-25 {
  padding: 25px 0;
}

.slidebar-top-custom-height {
  height: 55%;
}

.slidebar-top {
  background-color: $black;
  background-image: linear-gradient(#0e0e0e 70%, #1d1d1d);
  border-top: thick solid $white;

  p {
    font-size: 3vh;
    margin: 4.1vh;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

//
// INDEX
.callout-news {
  height: 500px;
}

//
// FOOTER
.footer-links {
  background-color: $footer-background;
  color: $footer-color;
}

.footer-links h5 {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-button {
  color: $footer-color;

  &:hover {
    color: $footer-color-hover;
  }
}

.footer-partners-background {
  background-color: $footer-partners;
}

.footer-partners-item {
	width: 100px;
  padding: 10px 20px 10px 20px;
}

//
// HOME
.home-nextmatch-container {
  background-size: cover;
  height: 500px;
  position: relative;
}

.home-nextmatch-copy {
  left: 0;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}

//
// POST
.post-readnext {
  background: #222 no-repeat center center;
  background-size: cover;
  text-decoration: none !important;
}

.post-readnext-copy {
  position: relative;
}

.post-readnext::before {
  background: rgba(0,0,0,0.75);
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .5s ease;
}

.post-readnext:hover::before {
  background: rgba(0,0,0,.5);
  transition: all .2s ease;
}

.post-readnext-padding {
  padding: 50px 20px;
}

.post-header-image {
	@include maintain-ratio(16 9);
}

//
// PAGE
.page-header-container, .div-responsive, .aspectratio16x9 {
	@include maintain-ratio(16 9);
	width: 100%;
}

.aspectratio1x1{
	@include maintain-ratio(1 1);
}

.aspectratio4x3{
	@include maintain-ratio(4 3);
}

.page-header-image {
	@include maintain-ratio(16 9);
}

.page-header-copy {
  left: 0;
  position: absolute;
  text-align: center;
  top: 70%;
  width: 100%;
}


//
// SCHEDULE
.schedule-header-container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

//
// NEWS
.news-post-img {
	display: inline-block;
  height: 350px;
  width: 100%;
}

.news-post-copy {
	display: inline-block;
	font-size: 15px;
	height: 350px;
	line-height: 25px;
	padding: 45px 50px;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.news-post-title {
	// font-size: 20px;
}


//
// PHOTOS
.gallery-col {
  display: inline-block;
  vertical-align: top;
  &:not(:first-child){
    margin: 0 0 0 10px;
  }
}

.photos-header-container {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

.photo-container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
  text-decoration: none !important;
}

//
// Masonry layout library for photos
.photos-masonry {
  height: 100%;
  width: 100%;
}

.photos-column {
  display: inline-block;
  vertical-align: top;
}

.photos-column:not(:first-child) {
  margin-left: 10px;
}

.photo {
  background-color: $accent-dull;
  background-position: center;
  background-size: cover;
  margin: 0 0 10px;
  // float: left;
  // height: $photo-height;
  // width: $photo-width;
}

.photo-copy {
  font-style: italic;
  left: 0;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}

.photo-copy-padding {
  padding: 50px 20px;
}

// Lightbox

.lightbox {
  background: rgba(0,0,0,0.9);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999;

  a {
    position: relative;
  }

  img {
    // padding: 5%;

    &.wide {
      height: auto;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }

    &.tall {
      height: 100%;
      width: auto;
    }
  }

  &:target {
    display: block;
    outline: none;
  }
}

//
// PROFILE
.highlight:first-child {
	margin-top: 0;
}

//
// PARTNERS
.partner-image {
  // background-size: cover;
  background-color: $accent-dull;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

//
// PHILANTHROPY
.philanthropy-desc p {
	margin: 10px 0 10px 0;
}


ul.list-grid {
  display: block;
  font-size: 0;
  list-style: none;
  padding: 0;
}

ul.list-grid > li {
  display: inline-block;
  float: none;
  font-size: 14px;
  vertical-align: top;
}
//
// EXAMPLE of using List for a bootstrap row

// <ul class="list-grid row">
//   <li class="col-md-3" style="background: red;">ONE </li>
//   <li class="col-md-3" style="background: green;">TWO <br><br><br></li>
//   <li class="col-md-3" style="background: blue;">THREE<br><br></li>
//   <li class="col-md-3" style="background: yellow;">FOUR<br></li>
//   <li class="col-md-3" style="background: grey;">FIVE</li>
// </ul>


@media (min-width: $screen-xs-min) and (orientation: landscape) {
  .visible-xsp {
    display: none !important;
  }
}

@media (max-width: $screen-xs-max) and (orientation: portrait) {
  .hidden-xsp {
    display: none !important;
  }

	.page-header-container,
	.page-header-image, .div-responsive {
		height: 80vh;
	}

}

// /*==================================================
// =            Bootstrap 3 Media Queries             =
// ==================================================*/

    // /*==========  Mobile First Method  ==========*/

    // Custom, iPhone Retina
@media only screen and (max-width : 320px) {
  .nav-social-button {
    height: 75px;
    width: 50px;
  }

  .news-post-copy {
    font-size: 12px
  }

  .news-post-title {
    font: 14px;
  }

  body {
    font-size: 10px;
  }


}

    // Custom, iPhone Retina
@media only screen and (min-width : 321px) {


  .nav-social-button {
    height: 75px;
    width: 70px;
  }

  body {
    font-size: 10px;
  }

	// .header-copy {
	//   left: 0px;
	//   position: absolute;
	//   text-align: center;
	//   top: 58%;
	//   width: 100%;
	// }

}

// /* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .nav-social-button {
    height: 75px;
    width: 75px;
  }
}

// /* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .news-post-img {
    width: 49%;
  }

  .news-post-copy {
  	width: 49%;
  }

  .row-top-spacer-sm {
    margin-top: 25px;
  }

  .top-spacer-50-sm {
    margin-top: 50px;
  }

  body {
    font-size: 12px;
  }

	.header-image {
		display: none;
	}
}

// /* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .news-post-img {
    width: 40%;
  }

  .news-post-copy {
  	width: 40%;
  }

  .nopadding-md-right {
    padding-right: 0px !important;
  }

  .index-news-left {
    background-image: linear-gradient(90deg,  $white 50%, $brand-secondary);
  }

  .index-news-right {
    background-image: linear-gradient(-90deg,  $white 50%, $brand-secondary);
  }

  .gradient-post-content-sides {
    background-image: linear-gradient($white, $accent-dull-light 40%, $accent-dull-light 80%, $white 95%);
  }

  .nav-border {
    border-left: $nav-border-width solid $brand-secondary;
    border-right: $nav-border-width solid $brand-secondary;
  }

  .post-border {
    border-left: $nav-border-width solid $brand-secondary;
    border-right: $nav-border-width solid $brand-secondary;
  }

  .img-bg-over {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 100%;
    position: relative;
  }

  .img-bg-over:before {
    background-color: $hover-start;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all $hover-duration ease;
  }

  .img-bg-over:hover:before {
    background-color: $hover-end;
  }
}

// /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .news-post-img {
    height: 450px;
  }

  .news-post-copy {
    height: 450px;
  	width: 35%;
  }

}


// /* Sumo Devices, Wide Screens */
@media only screen and (min-width : 1500px) {

  body {
    font-size: 16px;
  }

  .h1-font-size-sumo {
    font-size: 4em;
  }

  .col-sumo-offset-0 {
    margin-left: 0%; }

  .col-sumo-offset-1 {
    margin-left: 8.33333%; }

  .col-sumo-offset-2 {
    margin-left: 16.66667%; }

  .col-sumo-offset-3 {
    margin-left: 25%; }

  .col-sumo-offset-4 {
    margin-left: 33.33333%; }

  .col-sumo-offset-5 {
    margin-left: 41.66667%; }

  .col-sumo-offset-6 {
    margin-left: 50%; }

  .col-sumo-offset-7 {
    margin-left: 58.33333%; }

  .col-sumo-offset-8 {
    margin-left: 66.66667%; }

  .col-sumo-offset-9 {
    margin-left: 75%; }

  .col-sumo-offset-10 {
    margin-left: 83.33333%; }

  .col-sumo-offset-11 {
    margin-left: 91.66667%; }

  .col-sumo-offset-12 {
    margin-left: 100%;
  }
}