/* Small Phone (iPhone 4 and 5) ------------------------ */
@media only screen {

    main {
      margin: 5vw auto 5vw auto;
      width: 90vw;
    }

  // FEATURED HEADER IMAGE ---------------------------------//////
  #feature-image-landing {
    background-image: url(/content/images/headers/landing-header-1.jpg);
  }

  .feature-image {
    background-size: cover;
    height: 80vh;
    background-position: 8% 0px;
    overflow: visible;
    transition: background-image 1s ease-in-out;
  }

  .feature-lockup {
    display: block;
    width: 80%;
    margin: 30px auto 25px auto;
  }


  // FOOTER ---------------------------------//////

  // .footer {
  //   width: 100%;
  //   background-color: rgb(4, 29, 42);
  // }
  //
  // .footer > p:first-child {
  //   margin: 0 auto 0 auto;
  //   padding: 0 0 10px 0;
  //   text-align: center;
  //
  // }
  //
  // .footer p img {
  //   display: inline;
  //   vertical-align: middle;
  //   width: 50px;
  //   height: auto;
  //   margin: 10px 10px 10px 10px;
  // }
  //
  // .site-details {
  //   background-color: rgb(3, 21, 31);
  //   text-align: center;
  // }
  //
  // .site-details > p {
  //   color: rgb(10, 64, 93);
  //   width: 100%;
  //   padding: 10px 0 10px 0;
  //   margin: 0;
  // }

  // NAV  ---------------------------------//////

  #page-data {
    display: none;
  }

  .menu-title {
    background-color: rgba(0, 0, 0, 0.7);
    height: 20px;
    display: table-cell;
    overflow: hidden;
    text-align: left;
    width: 100vw;
    vertical-align: middle;
    padding: 2px 5% 0px 5%;
  }

  .fadeOff {
    -webkit-transition: -webkit-all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
  }

  .menu-title p {
    color: white;
    margin: 15px 0 0 0;
  }

  //
  // Menu Title - Page Name
  .menu-title p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    display: none;
  }

  .menu-title p:last-child {
    font-weight: bold;
    font-size: .7rem;
    letter-spacing: 1px;
    line-height: 14pt;
    margin: 1vw auto 1vw auto;
    width: 90vw;
  }

  .mobile-off, .portrait-off {
    display: none;
  }

  .facebook, .instagram, .twitter, .menu-button, .home-button, .googleplus {
    width: 20vw;
    height: 20vw;
    float: left;
  }

  .facebook, .instagram, .twitter {
    background-color: rgba(0, 0, 0, 0.35);
  }

  .right-nav {
    float: right;
  }

  .social-nav {
    float: right;
  }

  .menu-button {
    background-image: url("/content/images/icons/menu-button-merm.svg");
  }

  .home-button {
    background-image: url("/content/images/icons/home-mermflat.svg");
  }

  .instagram {
    background-image: url("/content/images/icons/instagram-merm.svg");
  }

  .twitter {
    background-image: url("/content/images/icons/twitter-merm.svg");
  }

  .facebook {
    background-image: url("/content/images/icons/facebook-merm.svg");
  }

  .container-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }





  .menu-grid-portrait {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    float: left;
    letter-spacing: 5px;
  }

  .menu-grid-portrait a {
    text-decoration: none;
    color: white;
  }

  .menu-grid-portrait a p {
    height: 8vh;
    font-weight: bold;
    padding-top: 2vh;
  }

  // NEWS

  .news {
    background-color: $accent-light;
    border-top: 3px solid $accent;
    border-bottom: 1px solid $accent;
    position: relative;
    padding: 0 0 10px 0;
    margin-bottom: 30px;
  }

  .landing .news {
    padding: 0;
  }

  .landing .news p {
    padding: 3px 10px 8px 12px;
  }

  .landing .news p a {
    color: $primary-darker;
    font-size: 1.4rem;
    line-height: 1;
  }

  .news img {
    width: 100%;
    height: auto;
  }

  .news a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: $primary-darker;
    letter-spacing: 1px;
  }

  .news p {
    margin: 0;
    color: $primary-darker;
    padding: 0 15px 0 15px;
    letter-spacing: .9px;
    font-size: .9rem;
    line-height: 2;
  }

  .corner-tab {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $accent;
    color: #FFFFFF;
    line-height: 30px !important;
  }




  // NEWS POST DETAIL

  .container-post-detail .title {
      font-size: 50px;
      font-weight: bold;
      line-height: 1.2;
      color: #1eb3af;
      font-size: 2rem;
  }


  .container-post-detail  {
    margin: 5vw auto 5vw auto;
    width: 90vw;
    line-height: 1.5;
    color: $primary-darker;
  }

  .container-post-detail img {
    width: 90vw;
  }

  .googleplus {
    background-image: url("/content/images/icons/googleplus.svg");
  }

  // SCHEDULE

  .next-match {
    line-height: 1.2;
    letter-spacing: 1px;
    margin: 0px;
    padding: 7px 0 7px 0;
    width: 100%;
    background-color: $accent-light;
    overflow: hidden;
  }

  .next-match p {
    padding: 5px 10px 0 23px;
    margin: 0;
    color: $primary-darker;
  }

  .next-match p:nth-child(2) {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .next-match p:last-child {
    font-size: 1.1rem;
  }

  .landing .next-match p {
    padding: 0 10px 0 12px;
  }

  .landing .schedule {
    position: relative;
    background-color: $accent-light;
    border-top: 3px solid $accent;
    border-bottom: 1px solid $accent;
    margin-bottom: 30px;
  }

  .landing .schedule img {
    width: 100%;
    height: auto;
  }

  .landing section:nth-child(2) {
    line-height: 1;
  }

  .schedule table thead th {
    background-color: $accent;
    color: white;
    font-size: .7rem;
    letter-spacing: 1px;
    padding-left: 11px;
  }

  .schedule table thead th:last-child {
    text-align: center;
  }

  .schedule table tbody tr td {
    border-bottom: 1px solid rgb(198, 198, 198);
    border-right: 1px solid rgb(198, 198, 198);
    vertical-align: middle;
    line-height: 1.5;
  }

  .schedule table tbody tr td p {
    margin: 0px;
  }

  //
  // FIRST CELL
  //
  // first cell - ALL
  .schedule table tbody tr td:first-child {
    width: 30%;
    font-size: .8rem;
  }

  // first cell - p DEFEATS
  .schedule table tbody tr td:first-child p:nth-child(2) {
    color: white;
    font-size: .5rem;
    font-weight: bold;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: rgb(182, 182, 182);
    padding: 4px 0 2px 3px;
    letter-spacing: 1px;
  }

  // first cell - p FIRST NAME
  .schedule table tbody tr td:first-child p:first-child {
    font-weight: bold;
  }

  //
  // SECOND CELL
  //
  // second cell - ALL
  .schedule table tbody tr td:nth-child(2) {
    font-size: .8rem;
  }

  // second cell - p
  .schedule table tbody tr td:nth-child(2) p {
    margin: 6px 0 6px 0;
  }

  // second cell - p FIRST TOURNY NAME
  .schedule table tbody tr td:nth-child(2) p:first-child {
    font-weight: bold;
  }

  // third cell
  .schedule table tbody tr td:last-child {
    border-right: none;
    text-align: center;
  }





  //
  // PROFILE

  .profile > p {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 15px auto 0 auto;
    color: $primary-darker;
  }

  .profile > p:nth-child(2) {
    color: $accent;
  }

  .biography p {
    line-height: 2;
  }


  .profile > p:nth-child(4) {
    font-size: 1.5rem;
  }

  .profile > p:nth-child(5) {
    font-size: 2rem;
  }

  .profile > p:nth-child(2) {
    color: $accent;
    font-weight: normal;
  }

  .personal table, .highlights table {
    margin: 20px 0 30px 0;
  }

  .personal table tbody tr td:first-child,
  .highlights table tbody tr td:first-child {
    text-align: right;
    font-weight: bold;
    width: 32%;
    font-size: .7rem;
    color: gray;
  }

  .highlights table tbody tr td:first-child {
    width: 5%;
  }




  // PARTNERS

  .partners {
    text-align: center;
  }

  .partners img {
    width: 90vw;
    height: 25vh;
    background-color: $accent;
  }
  //
  // images
  .partners > p:nth-child(3n - 1) {
    margin: 0;
  }
  //
  // title
  .partners > p:nth-child(3n - 3) {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding: 15px 0 15px 0;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: $primary-darker;
  }
  //
  // copy
  .partners > p:nth-child(3n - 2) {
    padding: 0 15px 0 15px;
    margin: 0 0 60px 0;
    color: $primary-darker;
  }

  .parnters > p:nth-child(10), .parnters > p:nth-child(16) {

  }


  // PHILANTHROPY

  .philanthropy img {
    width: 100%;
    height: auto;
  }

  // PHOTOS
  //
  .photos-container {
    text-align: center;
    margin: auto;
  }

  .photos-container div {
    display: inline-block;
    margin: 10px 0 10px 0;
  }

  .photos-container img {
    width: 80vw;
    height: auto;
  }

  .corner-tab {
      padding: 1.5% 5% 1.5% 5%;
      font-size: 1rem;
  }

}

/* Medium Phone (iPhone 6) ------------------------ */
@media only screen
and (min-width : 374px)
and (orientation : portrait) {

  .landing .news p a {
    font-size: 1.8rem;
    line-height: 1;
  }

  .landing .next-match p:nth-child(2) {
    font-size: 1.7rem;
  }

  .landing .next-match p:last-child {
    font-size: 1.3rem;
  }

}

/* Tablet Small ----------------------------
------------------------------------------------------------ */
@media only screen
and (min-width : 600px)
and (orientation : portrait) {

  .feature-lockup {
    width: 70vw;
  }

  .partners img {
    width: 70vw;
  }

  .facebook, .instagram, .twitter, .menu-button, .home-button, .googleplus {
    width: 15vh;
    height: 15vh;
    float: left;
  }

  .menu-grid-portrait a p {
    font-size: 1.3rem;
  }

  .menu-title p:last-child {
    font-size: 1rem;
    margin: 2vw auto 2vw auto;
  }

  .corner-tab {
    padding: 1.5% 5% 1.5% 5%;
    font-size: 2rem;
  }


  .container-post-detail  {
    width: 80vw;
  }
}

/* Tablet Medium ----------------------------
------------------------------------------------------------ */
@media only screen
and (min-width : 768px)
and (orientation : portrait) {

  .news p {
    font-size: 1.4rem;
    line-height: 2;
  }

  .news a {
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .menu-grid-portrait a p {
    font-size: 2rem;
  }

  .menu-title p:last-child {
    font-size: 2rem;
    margin: 2vw auto 2vw auto;
  }

  .landing .news p a {
      font-size: 3rem;
      line-height: 1.5;
  }

  .landing .next-match p:nth-child(2) {
    font-weight: bold;
    font-size: 3rem;
  }

  .landing .next-match p:last-child {
    font-size: 2rem;
  }
}
