{{!< default}}


<!-- Header -->

{{!--{{> header-image custom-header="/assets/images/headers/schedule-header-usopen.jpg" bg-position="center" firstline-copy="Next Match" title-id="nextmatch-title" subtitle-id="nextmatch-subtitle"}}--}}
{{> header-image custom-header="/assets/images/headers/schedule-header-usopen.jpg" bg-position="center" firstline-copy="" title-id="nextmatch-title" subtitle-id="nextmatch-subtitle"}}

<div class="container-fluid">
  <div class="row">
    <div class="col-xsp-12 col-xsp-offset-0 col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
			{{#post}}
				{{content}}
			{{/post}}
		</div>
  </div>
</div>