{{!< default}}

{{#post}}

<div class="feature-image" style="background-image:url({{image}});background-position:center;"></div>

<!-- <div class="container-partners">
  {{content}}
</div> -->
<main class="partners">
  {{content}}
</main>

{{/post}}
