
<div class="footer">


    {{#get "posts" filter="tag:sponsors"}}
      {{#posts}}
        {{content}}
      {{/posts}}
    {{/get}}


  <div class="site-details">
    <p>
      <!-- <button id="toggle-contact" class="toggle-contact" onclick="contactForm.toggle()">Contact</button> -->
      <!-- <button id="toggle-contact" class="toggle-contact" onclick="contactForm.toggle()">Contact</button> -->
      Contact
    </p>
    <p>
      Lagardere Sports &copy; {{date format="YYYY"}}
    </p>
    <p>
      Site by : GSN
    </p>
  </div>

</div>


<script type="text/javascript">

  var contactForm = (function( ){

    var button = document.getElementById("toggle-contact");
    var form = document.getElementById("container-contact-form");

    return {
        toggle: function(){
          form.classList.contains("hidden") ? form.classList.remove("hidden") : form.classList.add("hidden");
          smoothScroll("container-contact-form");
        }
      };
  }());

</script>
